[submodule "Scardice-core"]
	path = Scardice-core
	url = https://github.com/Scardice/Scardice-core
	branch = master
[submodule "Scardice-ui"]
	path = Scardice-ui
	url = https://github.com/Scardice/Scardice-ui
	branch = master
[submodule "Scardice-android"]
	path = Scardice-android
	url = https://github.com/sealdice/sealdice-android
	branch = master
[submodule "Scardice-builtins"]
	path = Scardice-builtins
	url = https://github.com/sealdice/sealdice-builtins
	branch = master
